/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #4F5460; color: #fff; text-shadow: none; }
::selection { background: #4F5460; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@font-face {
    font-family: 'SocialicoRegular';
    src: url('fonts/socialico-webfont.eot');
    src: url('fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/socialico-webfont.woff') format('woff'),
         url('fonts/socialico-webfont.ttf') format('truetype'),
         url('fonts/socialico-webfont.svg#SocialicoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* START */

body {
  font-family:'Old Standard TT', sans-serif;
  background:#fff url(../img/pattern-1.png) repeat;
  color:#4F5460;
  border:15px solid #4F5460;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

h1,h2,h4,h5,h3 {
  margin:0;padding:0;
  font-weight:400;
}

h1 {
  font-size:84px;
  line-height:1;
  font-weight:700;
}

h2 {
  font-size:24px;
}

span.header-line {
  display:block;
  width:100px;
  margin:30px auto;
  border-bottom:1px solid #ccc;
}

h3 {
  font-size:14px;
  padding-bottom:30px;
  text-transform:lowercase;
  position:relative;
}

  h3 span.text {
    background:#fff url(../img/pattern-1.png) repeat;
    padding:0 20px;
    z-index:5;
    position: relative;
  }

  h3 span.line {
    border-bottom:1px solid #ccc;
    display:block;
    width:50%;
    margin:0 auto;
    position:relative;
    top:-9px;
  }

header {
  padding:60px 0;
  text-align:center;
  /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27), 0 0 50px rgba(0, 0, 0, 0.06) inset;*/
}

#wrapper {
  width:700px;
  margin:0 auto;
  text-align:center;
}

ul {
  padding:0;margin:0;
  overflow: hidden;
}

  li {
    list-style:none;
    padding:30px;
    margin:0 20px 40px;
    display:inline;
    width:250px;
    float:left;
    font-size:13px;
    background:#fff;
  }

    li.right {
      margin-right:0;
    }

  li h4 {
    margin-top:15px;
  }

  li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color:#4F5460;
    text-decoration:none;
  }

    li a:hover {
      opacity:0.6;
    }

    li a.view-article {
      color:#4F5460;
      display:inline-block;
      padding-top:15px;
      border-bottom:1px solid #ccc;
      /*display:none;*/
    }

#social {
  margin:45px 0;
}

#social a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display:inline-block;
  padding:0 3px; 
  font-size:36px;
  font-family:'SocialicoRegular';
  color:#4F5460;
  text-decoration:none;
}

  #social a:hover {
    opacity:0.6;
  }

#clients {
  margin-top:30px;
}

  #clients img {
    padding:0 15px 30px;
  }


@media only screen and (max-width: 480px) {
  #wrapper {
    width:auto;
  }

  h1 {
    font-size:52px;
  }

  h2 {
    font-size:18px;
  }

  ul li {
    width:100%;
    display:block;
    padding:30px 0;
    margin:0 0 15px;
  }

    ul li img {
      padding:0 0 15px;
    }

    ul li h4 {
      padding:0 30px;
      margin:0;
    }
}

@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
